@media (max-width: 880px) {
  .head-title {font-size: 50px; left: calc(50% - 308px);}
}

@media (max-width: 640px) {
  .head-title {font-size: 35px; left: calc(50% - 222px);}
  .foot-note {font-size: 12px; padding: 16px 2px 10px 2px;}
}

.home-page .home-link {
  background: rgb(245,245,245);
  color: rgb(20,20,20);
}

.home-page footer {
  position: absolute;
}

#home {
  margin-bottom: 46px;
}