footer {
  background: rgb(40,40,40);
  font-size: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.disclaimer {
  box-sizing: border-box;
  color: rgb(200,200,200);
  display: inline-block;
  text-align: left;
  font: 14px "Raleway";
  width: 45%;
  vertical-align: top;
  padding: 20px 40px 20px 40px;
}

.disclaimer div {
  padding: 5px;
}

.foot-note {
  color: rgb(200,200,200);
  display: inline-block;
  font: 14px "Raleway";
  padding: 14px;
  vertical-align: top;
}

.admin {
  color: rgb(200,200,200);
  cursor: pointer;
  font: 14px "Raleway";
  padding: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
}