.contact-page .contact-link {
  background: rgb(245,245,245);
  color: rgb(20,20,20);
}

#contact {
  display: inline-block;
  height: 100%;
  max-width: 900px;
  padding: 20px 0 60px 0;
  text-align: left;
  width: 80%;
}

.contact-title {
  font: 40px "Lato";
  padding: 15px;
  text-align: center;
}

#contact input, .contact-message {
  box-sizing: border-box;
  display: inline-block;
  font: 16px "Segoe UI";
  padding: 10px;
  width: 50%;
}

.contact-message {
  height: 90px;
  width: 100%;
}

#contact button {
  padding: 5px 10px;
}