/* RESET */
html, body {min-height: 100vh; width: 100%;}
body {height: 100%; margin: 0; position: relative;}

/* SCROLLBAR */
::-webkit-scrollbar{
  width: 10px;
  background: rgb(20,20,20);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgba(252, 165, 241,.5),rgba(181, 255, 255,.5));
  border-radius: 3px;
}
::-webkit-resizer,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {display:none}