.content {
  width: 90%;
  margin: auto;
  max-width: 1300px;
  text-align: center;
}

main, aside {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

main {
  padding: 0px 20px;
  text-align: center;
  width: 75%;
}

aside {
  text-align: left;
  width: 25%;
}

.page {
  box-sizing: border-box;
  margin: auto;
  max-width: 800px;
  min-height: calc(100vh - 288px);
  position: relative;
  text-align: left;
}

#home, #article {
  max-width: 1000px;
}

h1 {
  font: 36px "Lato";
  margin: 0;
  padding: 40px 0px 20px 0px;
  text-align: center;
}