.opener {
  font: 18px "Segoe UI";
  padding: 0px 10px 20px 10px;
}

.list-title {
  font: 900 20px "Lato";
  padding: 10px;
}

#products ul {
  margin: 0 0 10px 0;
}

#products li {
  font: 16px "Segoe UI";
  padding: 2px;
}