aside {
  border-left: 1px dotted rgb(40,40,40);
  font-size: 0;
  padding: 20px;
}

aside img {
  background: rgb(40,40,40);
  width: 100%;
}

aside input, aside button {
  box-sizing: border-box;
  font: 14px "Raleway";
  padding: 10px;
}

aside input {
  margin: 20px 0px;
  width: calc(100% - 60px);
}

aside button {
  width: 60px;
}

aside div {
  font: 14px "Didact Gothic";
  padding: 5px 0px;
}

.tags {
  padding: 0px;
}

aside a {
  border-bottom: 1px dotted rgb(40,40,40);
  color: rgb(45, 75, 175);
  display: block;
  font: 14px "Didact Gothic";
  padding: 5px;
  transition: .2s all;
}

aside a:hover {
  background: rgb(240,240,240);
}