<aside>
  <img src="http://localhost:3000/images/logo.png">
  <input type="text" placeholder="Search">
  <button>Go</button>
  <div><strong>Follow by Email</strong></div>
  <div>Enter your email address to follow this blog and receive notifications of new posts by email.</div>
  <input type="email" placeholder="Enter your Email Address">
  <button>Go</button>
  <div class="tags">
    <div><strong>Tags</strong></div>
  </div>
  <div><strong>Links</strong></div>
  <a href="http://securities.stanford.edu/">SCAC - Stanford Securities Class Action Clearinghouse</a>
  <a href="http://www.dandodevelopments.com/">D&O Developments</a>
  <a href="https://corpgov.law.harvard.edu/">Harvard Law School Corporate Governance Blog</a>
  <a href="https://www.pwc.com/">PWC</a>
</aside>